# Resize root filesystem will fail on ostree/composefs based images.
resize_rootfs: false

# Creation of users (e.g. "azureuser") will fail on ostree/composefs based images.
errors_retried_modules:
  - users-groups
