[Unit]
Description=Azure temporary resource disk dataloss warning file creation
After=multi-user.target cloud-final.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/temp-disk-dataloss-warning
StandardOutput=journal+console

[Install]
WantedBy=default.target
